TAFT_API_BASE_URL=https://data.moa.gov.tw/Service/OpenData/Resume/ResumeData_Plus.aspx
TAFT_UNIT_ID=063
GEMINI_API_KEY=your_gemini_key_here
FDA_DATASET_URL=https://data.gov.tw/dataset/xxxxx
USE_MOCK_API=True
